{{template "base/head" .}}

<div class="main ui container">
    <div class="ui segment center">

        <h2 class="ui icon aligned center header">
            <i class="settings icon"></i>
            <div class="content">

                <a class="ui right floated button" href="{{.AppSubUrl}}/">
                    {{.i18n.Tr "error.home"}}
                </a>

                <a class="ui positive  left floated button" href="#" onclick="javascript:history.back(-1);" role="button">
                    {{.i18n.Tr "error.back"}}
                </a>

                {{.i18n.Tr "error.fourOhFour"}}
                <div class="sub header">
                    {{.i18n.Tr "error.page_not_found"}}
                </div>

            </div>
        </h2>

    </div>
</div>

{{template "base/footer" .}}
