{{template "base/head" .}}

<div class="main ui container">
    <div class="ui grid">
        <div class="four wide column">
            {{template "admin/base/menu" .}}
        </div>
        <div class="twelve wide column content">
            <div class="ui top attached menu">
                <div class="item">{{.i18n.Tr "admin.users.explorer"}}</div>

                <div class="right menu">
                    <a class="ui icon item" href="{{.Link}}/new">
                        <i class="plus icon"></i>
                    </a>
                    {{template "admin/base/form" .}}
                </div>
            </div>


            <div class="ui attached segment">
                {{template "base/alert" .}}
                {{template "admin/user/list" .}}
                {{template "admin/base/page" .}}
            </div>
        </div>
    </div>
</div>

{{template "admin/user/delete" .}}
{{template "base/footer" .}}

