<table class="ui celled table">
    <thead>
        <tr>
            <th width="50">#</th>
            <th>{{$.i18n.Tr "admin.countries.name"}}</th>
            <th width="150">{{$.i18n.Tr "admin.countries.short_name"}}</th>
            <th width="150">{{$.i18n.Tr "admin.countries.status"}}</th>
            <th width="100" class="text-md-right">{{$.i18n.Tr "admin.countries.actions"}}</th>
        </tr>
    </thead>
    <tbody>
        {{range .Countries}}
            <tr>
                <td>{{.ID}}</td>
                <td>{{.Name}}</td>
                <td>
                    <i class="{{.ShortName | ToLower}} flag"></i>
                    {{.ShortName}}
                </td>
                <td class="center aligned">
                    <i class="icon {{if .IsActive}}checkmark{{else}}close{{end}}"></i>
                </td>
                <td align="right">
                    <a href="{{$.Link}}/{{.ID}}">
                        <i class="icon edit" aria-hidden="true"></i>
                    </a>

                    <a href="#" class="delete-button" data-url="{{$.Link}}/delete" data-id="{{.ID}}">
                        <i class="icon trash" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {{end}}
    </tbody>
</table>