{{template "base/head" .}}

<div class="main ui container">
    <div class="ui grid">

        <div class="eighteen wide column content">

            <!--Title-->
            <div class="ui top attached menu">
                <div class="item">{{.Ticket.Name}}</div>

                <div class="item">
                    {{range $element := .Ticket.GetProjectsForUser $.SignedUserID }}

                        {{ if eq $element.Status 2 }}
                            <a class="ui label green" data-id="{{$element.ID}}" data-content="{{$element.GetOwner.FullName}}">>
                                {{ $element.Name }}
                            </a>
                        {{ else }}
                            <a href="#{{$element.ID}}" class="label ui red confirm-implemented" data-url="{{$.Link}}/../../{{$.Ticket.ID}}/info">
                                {{ $element.Name }}
                            </a>
                        {{ end }}
                    {{end}}
                </div>

                <div class="right menu">
                    <a class="ui icon item" href="{{.AppSubUrl}}/user/tickets">
                        <i class="arrow left icon"></i>
                    </a>
                </div>
            </div>
            <!--Title-->

            <div class="ui attached segment">
                {{template "base/alert" .}}

                <label class="ui blue right ribbon label fixRobbon">
                    {{.Ticket.GetCategory.Name}}
                </label>

                <!--Description-->
                <div class="render-content markdown emojify">
                    {{MarkdownRender .Ticket.Description }}
                </div>
                 <!--Description-->

            </div>
        </div>
    </div>
</div>

{{template "base/footer" .}}
{{template "user/ticket/modal_project_confirm" .}}
