{{/*
<html>
    <body>
        */}}


        <div class="ui inverted vertical footer segment">
            <div class="ui center aligned container">
                <div class="ui horizontal inverted small divided link list">
                    <div class="item">&copy; 2016 {{AppName}}  v.{{AppVer}}</div>
                    <div class="item">FixeAds</div>
                    <div class="item">Page: <strong>{{LoadTimes .PageStartTime}}</strong> </div>
                    <div class="item">Template: <strong>{{call .TmplLoadTimes}}</strong></div>
                </div>
            </div>
        </div>

    </body>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-89711332-1', 'auto');
      ga('send', 'pageview');

    </script>
    <script src="{{AppSubUrl}}/assets/jquery/dist/jquery.min.js"></script>
    <script src="{{AppSubUrl}}/assets/semantic/dist/semantic.min.js"></script>
    <script src="{{AppSubUrl}}/assets/highlightjs/highlight.pack.min.js"></script>
    <script src="{{AppSubUrl}}/assets/emojify.js/dist/js/emojify.min.js"></script>
    {{if .RequireSimpleMDE}}
        <script src="{{AppSubUrl}}/assets/simplemde/dist/simplemde.min.js"></script>
    {{end}}
    <script src="{{AppSubUrl}}/js/base.js?v={{MD5 AppVer}}"></script>
</html>
