<div class="ui large top fixed menu transition visible inverted" style="display: flex !important;">
    <div class="ui container">

        {{if .IsSigned}}
            <a class="item {{if .PageIsDashboard}} active{{end}}" href="{{AppSubUrl}}/">{{.i18n.Tr "menu.dashboard"}}</a>
        {{else}}
            <a class="item {{if .PageIsHome}} active{{end}}" href="{{AppSubUrl}}/">{{.i18n.Tr "menu.home"}}</a>
        {{end}}

        <div class="right menu">
            {{if .IsSigned}}

                <a class="item" href="{{AppSubUrl}}/user/tickets">
                    <i class="icon ticket"></i>
                </a>


                {{if .IsAdmin}}
                    <!--Admin Menu-->
                    <div class="ui pointing dropdown link item">
                        <span class="text">{{.i18n.Tr "admin.menu"}}</span>
                        <i class="dropdown icon"></i>
                        <div class="menu">

                            <!--Title-->
                            <a class="item" href="{{.AppSubUrl}}/admin">
                                {{.i18n.Tr "admin.menu.dashboard"}}
                            </a>
                            <!--Title-->

                            <!--Menu Users-->
                            <div class="item">
                                <i class="dropdown icon"></i>
                                <span class="text">{{.i18n.Tr "admin.menu.users"}}</span>
                                <div class="menu">
                                    <a class="item" href="{{.AppSubUrl}}/admin/users">{{.i18n.Tr "admin.menu.list"}}</a>
                                    <a class="item" href="{{.AppSubUrl}}/admin/users/new">{{.i18n.Tr "admin.menu.new"}}</a>
                                </div>
                            </div>
                            <!--Menu Users-->

                            <!--Menu Tickets -->
                            <div class="item">
                                <i class="dropdown icon"></i>
                                <span class="text">{{.i18n.Tr "admin.menu.tickets"}}</span>
                                <div class="menu">
                                    <a class="item" href="{{.AppSubUrl}}/admin/tickets">{{.i18n.Tr "admin.menu.list"}}</a>
                                    <a class="item" href="{{.AppSubUrl}}/admin/tickets/new">{{.i18n.Tr "admin.menu.new"}}</a>
                                </div>
                            </div>
                            <!--Menu Tickets -->

                            <!--Menu country-->
                            <div class="item">
                                <i class="dropdown icon"></i>
                                <span class="text">{{.i18n.Tr "admin.menu.countries"}}</span>
                                <div class="menu">
                                    <a class="item" href="{{.AppSubUrl}}/admin/countries">{{.i18n.Tr "admin.menu.list"}}</a>
                                    <a class="item" href="{{.AppSubUrl}}/admin/countries/new">{{.i18n.Tr "admin.menu.new"}}</a>
                                </div>
                            </div>
                            <!--Menu country-->

                            <!--Menu category-->
                            <div class="item">
                                <i class="dropdown icon"></i>
                                <span class="text">{{.i18n.Tr "admin.menu.categories"}}</span>
                                <div class="menu">
                                    <a class="item" href="{{.AppSubUrl}}/admin/categories">{{.i18n.Tr "admin.menu.list"}}</a>
                                    <a class="item" href="{{.AppSubUrl}}/admin/categories/new">{{.i18n.Tr "admin.menu.new"}}</a>
                                </div>
                            </div>
                            <!--Menu category-->

                            <!--Menu project-->
                            <div class="item">
                                <i class="dropdown icon"></i>
                                <span class="text">{{.i18n.Tr "admin.menu.projects"}}</span>
                                <div class="menu">
                                    <a class="item" href="{{.AppSubUrl}}/admin/projects">{{.i18n.Tr "admin.menu.list"}}</a>
                                    <a class="item" href="{{.AppSubUrl}}/admin/projects/new">{{.i18n.Tr "admin.menu.new"}}</a>
                                </div>
                            </div>
                            <!--Menu project-->

                        </div>
                    </div>
                    <!--Admin Menu-->
                {{end}}

                <!--Profile Menu-->
                <div class="ui pointing dropdown link item">
                    <span class="text">{{.SignedUser.DisplayName}}</span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <!--Profile-->
                        <a class="item" href="{{AppSubUrl}}/user/settings">
                            {{.i18n.Tr "menu.profile"}}
                        </a>
                        <!--Profile-->

                        <div class="divider"></div>

                        <!--SignOut-->
                        <a class="item" href="{{AppSubUrl}}/user/logout">
                            {{.i18n.Tr "menu.sign_out"}}
                        </a>
                        <!--SignOut-->
                    </div>
                </div>
                <!--Profile Menu-->

            {{else}}
                <!--SignUp-->
                <a class="item {{if .PageIsSignIn}} active{{end}}" href="{{AppSubUrl}}/user/sign_up">{{.i18n.Tr "menu.sign_up"}}</a>
                <!--SignUp-->

                <!--SignIn-->
                <a class="item {{if .PageIsSignUp}} active{{end}}" href="{{AppSubUrl}}/user/sign_in">{{.i18n.Tr "menu.sign_in"}}</a>
                <!--SignIn-->
            {{end}}
        </div>
    </div>
</div>