body {
    background-color: #FFFFFF;
}
.ui.menu .item img.logo {
    margin-right: 1.5em;
}
.main.container {
    padding-top: 4em;
    padding-bottom: 6em;
}
.wireframe {
    margin-top: 2em;
}
.ui.footer.segment {
    margin: 5em 0em 0em;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 35px;
    z-index: 9999;
}

.positionAbsolute {
    position: absolute;
}


/*** signIn **/
.signIn > .grid {
    height: 100%;
}
.signIn .image {
    margin-top: -100px;
}
.signIn .column {
    max-width: 450px;
}

.center {
    text-align: center;
}

.center-image a {
    width: 100%;
}
.center-image img {
    display:block;
    margin:auto;
}




.markdown:not(code) h1,
.markdown:not(code) h2,
.markdown:not(code) h3,
.markdown:not(code) h4,
.markdown:not(code) h5,
.markdown:not(code) h6 {
    position: relative;
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 1.4;
}
.markdown:not(code) h1:first-of-type,
.markdown:not(code) h2:first-of-type,
.markdown:not(code) h3:first-of-type,
.markdown:not(code) h4:first-of-type,
.markdown:not(code) h5:first-of-type,
.markdown:not(code) h6:first-of-type {
    margin-top: 0 !important;
}
.markdown:not(code) h1 .octicon-link,
.markdown:not(code) h2 .octicon-link,
.markdown:not(code) h3 .octicon-link,
.markdown:not(code) h4 .octicon-link,
.markdown:not(code) h5 .octicon-link,
.markdown:not(code) h6 .octicon-link {
    display: none;
    color: #000;
    vertical-align: middle;
}
.markdown:not(code) h1:hover .anchor,
.markdown:not(code) h2:hover .anchor,
.markdown:not(code) h3:hover .anchor,
.markdown:not(code) h4:hover .anchor,
.markdown:not(code) h5:hover .anchor,
.markdown:not(code) h6:hover .anchor {
    padding-left: 8px;
    margin-left: -30px;
    text-decoration: none;
}
.markdown:not(code) h1:hover .anchor .octicon-link,
.markdown:not(code) h2:hover .anchor .octicon-link,
.markdown:not(code) h3:hover .anchor .octicon-link,
.markdown:not(code) h4:hover .anchor .octicon-link,
.markdown:not(code) h5:hover .anchor .octicon-link,
.markdown:not(code) h6:hover .anchor .octicon-link {
    display: inline-block;
}
.markdown:not(code) h1 tt,
.markdown:not(code) h1 code,
.markdown:not(code) h2 tt,
.markdown:not(code) h2 code,
.markdown:not(code) h3 tt,
.markdown:not(code) h3 code,
.markdown:not(code) h4 tt,
.markdown:not(code) h4 code,
.markdown:not(code) h5 tt,
.markdown:not(code) h5 code,
.markdown:not(code) h6 tt,
.markdown:not(code) h6 code {
    font-size: inherit;
}
.markdown:not(code) h1 {
    padding-bottom: 0.3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
}
.markdown:not(code) h1 .anchor {
    line-height: 1;
}
.markdown:not(code) h2 {
    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
}
.markdown:not(code) h2 .anchor {
    line-height: 1;
}
.markdown:not(code) h3 {
    font-size: 1.5em;
    line-height: 1.43;
}
.markdown:not(code) h3 .anchor {
    line-height: 1.2;
}
.markdown:not(code) h4 {
    font-size: 1.25em;
}
.markdown:not(code) h4 .anchor {
    line-height: 1.2;
}
.markdown:not(code) h5 {
    font-size: 1em;
}
.markdown:not(code) h5 .anchor {
    line-height: 1.1;
}
.markdown:not(code) h6 {
    font-size: 1em;
    color: #777;
}
.markdown:not(code) h6 .anchor {
    line-height: 1.1;
}
.markdown:not(code) p,
.markdown:not(code) blockquote,
.markdown:not(code) ul,
.markdown:not(code) ol,
.markdown:not(code) dl,
.markdown:not(code) table,
.markdown:not(code) pre {
    margin-top: 0;
    margin-bottom: 16px;
}
.markdown:not(code) blockquote {
    margin-left: 0;
}
.markdown:not(code) hr {
    height: 4px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
}
.markdown:not(code) ul,
.markdown:not(code) ol {
    padding-left: 2em;
}
.markdown:not(code) ul.no-list,
.markdown:not(code) ol.no-list {
    padding: 0;
    list-style-type: none;
}
.markdown:not(code) ul ul,
.markdown:not(code) ul ol,
.markdown:not(code) ol ol,
.markdown:not(code) ol ul {
    margin-top: 0;
    margin-bottom: 0;
}
.markdown:not(code) ol ol,
.markdown:not(code) ul ol {
    list-style-type: lower-roman;
}
.markdown:not(code) li > p {
    margin-top: 16px;
}
.markdown:not(code) dl {
    padding: 0;
}
.markdown:not(code) dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}
.markdown:not(code) dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}
.markdown:not(code) blockquote {
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd;
}
.markdown:not(code) blockquote > :first-child {
    margin-top: 0;
}
.markdown:not(code) blockquote > :last-child {
    margin-bottom: 0;
}
.markdown:not(code) table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
}
.markdown:not(code) table th {
    font-weight: bold;
}
.markdown:not(code) table th,
.markdown:not(code) table td {
    padding: 6px 13px !important;
    border: 1px solid #ddd !important;
}
.markdown:not(code) table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}
.markdown:not(code) table tr:nth-child(2n) {
    background-color: #f8f8f8;
}
.markdown:not(code) img {
    max-width: 100%;
    box-sizing: border-box;
}

.markdown:not(code) h1 code,
.markdown:not(code) h2 code,
.markdown:not(code) h3 code,
.markdown:not(code) h4 code,
.markdown:not(code) h5 code,
.markdown:not(code) h6 code,
.markdown:not(code) tt {
    padding: 5px;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px;
}

.markdown:not(code) pre {
    border-radius: 3px;
}

.fixRobbon {
    position: absolute !important;
    margin: 0 -13px 0 !important;
}


.editor-toolbar.fullscreen,
.CodeMirror {
    z-index: 9999 !important;
}
