<div class="ui vertical menu">

    <div class="header item">
        {{.i18n.Tr "settings.menu"}}
    </div>

    <!--Profile-->
    <a class="item {{if .PageIsSettingsProfile}}active{{end}}"
       {{if not .PageIsSettingsProfile}}href="{{.AppSubUrl}}/user/settings"{{end}}>
        {{.i18n.Tr "settings.menu.profile"}}
    </a>
    <!--Profile-->

    <!--Password-->
    <a class="item {{if .PageIsSettingsPassword}}active{{end}}"
       {{if not .PageIsSettingsPassword}}href="{{.AppSubUrl}}/user/settings/password"{{end}}>
        {{.i18n.Tr "settings.menu.password"}}
    </a>
    <!--Password-->
</div>