{{template "base/head" .}}

<div class="main ui container">
    <div class="ui grid">
        <div class="four wide column">
            {{template "user/settings/menu" .}}
        </div>
        <div class="twelve wide column content">
            <h4 class="ui top attached header">{{.i18n.Tr "settings.profile.edit_profile"}} {{.User.Id}}</h4>
            <div class="ui attached segment">
                {{template "base/alert" .}}
                <form class="ui form" action="{{.Link}}" method="post">
                    {{.CsrfTokenHtml}}
    
                    <!--Full Name-->
                    <div class="field required {{if .Err_FullName}}error{{end}}">
                        <label for="fullname">{{.i18n.Tr "settings.profile.full_name"}}</label>
                        <input type="text"
                               id="fullname"
                               name="full_name"
                               class="form-control"
                               value="{{.SignedUser.FullName}}"
                               placeholder="{{.i18n.Tr "settings.profile.full_name"}}"
                        required>
                    </div>
                    <!--Full Name-->
    
                    <!--Username-->
                    <div class="field required {{if .Err_Username}}error{{end}}">
                        <label for="user_name">{{.i18n.Tr "settings.profile.user_name"}}</label>
                        <input type="text"
                               id="user_name"
                               name="user_name"
                               class="form-control"
                               value="{{.SignedUser.Username}}"
                               placeholder="{{.i18n.Tr "settings.profile.user_name"}}"
                        required>
                    </div>
                    <!--Username-->
    
                    <!--Email-->
                    <div class="field required {{if .Err_Email}}error{{end}}">
                        <label for="email">{{.i18n.Tr "settings.profile.email"}}</label>
                        <input id="email"
                               name="email"
                               type="email"
                               class="form-control"
                               value="{{.SignedUser.Email}}"
                               placeholder="{{.i18n.Tr "settings.profile.email"}}"
                        required>
                    </div>
                    <!--Email-->
    
                    <button class="ui button green" type="submit">{{.i18n.Tr "settings.profile.update_profile"}}</button>
    
                </form>
            </div>
        </div>
    </div>
</div>

{{template "base/footer" .}}