<form class="ui right aligned category search item">
    <div class="ui transparent icon input">
        <i class="search link icon"></i>
        <input name="q"
               autofocus=""
               type="text"
               class="prompt"
               value="{{.Keyword}}"
               autocomplete="off"
               placeholder="{{.i18n.Tr "base.search"}}..." >
    </div>
</form>
